    :root {
    --white: #D8E9FD;
    --green: #C7EF00;
    --yellow: #ffeb67;
    --red: #FE5E41;
    --sea-green: #2EC4B6;
    --blue: #1298F8;
    --dark-blue: #002266;
}

@keyframes float_odd {
    0%, 100% {transform: translateY(0px) rotate(-5deg);}
    50% {transform: translateY(-10px) rotate(-8deg);}
}

@keyframes float_even {
    0%, 100% {transform: translateY(0px) rotate(5deg);}
    50% {transform: translateY(-10px) rotate(3deg);}
}

@keyframes wave {
    from {left: 0;}
    to {left: -800px;}
}

* {
    box-sizing: border-box;
}

html {
    background: var(--sea-green);
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    transform: skewY(-3deg);
    background: gray;
    width: 100%;
    margin-top: -4rem;
    margin-bottom: 4rem;
    padding: 13rem 2rem 10rem 10vw;
    background: var(--blue);
    border-bottom: 10px solid var(--dark-blue);
    position: relative;
}

.frog {
    width: 20vw;
    height: auto;
    position: absolute;
    image-rendering: pixelated;
    filter: drop-shadow(18px 7px 0 #002266);
    right: 0;
    bottom: -10px;
}

.title {
    font-family: 'Poetsen One', sans-serif;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 8vw;
    margin-bottom: 0.25rem;
    line-height: 1;
    color: var(--white);
}

.title span {
    font-size: 15vw;
}

.bio {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    color: var(--dark-blue);
    font-size: 2rem;
    line-height: 1;
}

.card {
    width: 90%;
    max-width: 800px;
    border-radius: 50px;
    border: 10px dashed var(--dark-blue);
    background: var(--dark-blue);
    box-shadow: inset 0 0 0 10px var(--blue);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.card:not(:last-child) {
    margin-bottom: 2rem;
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    margin: 0;
}

.card h1 {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    font-family: 'Poetsen One', sans-serif;
    background: var(--blue);
    color: var(--white);
    width: 100%;
    font-size: 3rem;
    padding: 0.5rem 1rem;
    transform: skewY(-3deg);
}

.desc {
    transform: skewY(-3deg);
    margin: 0 2rem 3rem 2rem;
    color: var(--white);
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
}

.note {
    margin: 0 2rem 1.5rem 2rem;
    border: 2px solid var(--white);
    border-radius: 20px;
    padding: 0.5rem 3rem;
    text-align: center;
    transform: skewY(0deg);
    opacity: 0.75;
    color: var(--white);
    font-family: 'Outfit', sans-serif;
    font-style: italic;
    font-size: 1.25rem;
}

.card a {
    color: var(--blue);
    opacity: 1;
}

.card a.button {
    font-family: 'Poetsen One', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.75rem 2rem 1.25rem 2rem;
    background: var(--blue);
    border-radius: 50px;
    position: relative;
    color: var(--white);
    box-shadow: inset 0 0 0 5px var(--blue), inset 0 -10px 0 5px var(--dark-blue);
    display: block;
    width: fit-content;
    margin-bottom: 2rem;
    transition: all 0.2s cubic-bezier(.17,.67,.55,1.43);
}

.card a.button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    filter: brightness(110%);
}

.card a.button::after {
    position: absolute;
    width: 70%;
    margin: auto;
    top: 5px;
    left: 0;
    right: 0;
    height: 10%;
    border-radius: 50px;
    background: var(--white);
    content: '';
    opacity: 0.5;
}

.footer {
    width: 100%;
    margin-top: 5rem;
    position: relative;
    background: rgb(46,196,182);
    background: linear-gradient(180deg, rgba(46,196,182,1) 0%, rgba(46,196,182,1) 25%, rgba(18,152,248,1) 25%, rgba(18,152,248,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem 0 4rem 0;
    overfloW-x: hidden;
}

.footer::before {
    content: '';
    width: 6400px;
    position: absolute;
    height: 400px;
    top: -120px;
    animation: wave 10s linear infinite;
    background: var(--blue);
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 50.00%, 1.00% 48.76%, 2.00% 45.36%, 3.00% 40.63%, 4.00% 35.74%, 5.00% 31.91%, 6.00% 30.08%, 7.00% 30.70%, 8.00% 33.63%, 9.00% 38.13%, 10.00% 43.09%, 11.00% 47.29%, 12.00% 49.69%, 13.00% 49.69%, 14.00% 47.29%, 15.00% 43.09%, 16.00% 38.13%, 17.00% 33.63%, 18.00% 30.70%, 19.00% 30.08%, 20.00% 31.91%, 21.00% 35.74%, 22.00% 40.63%, 23.00% 45.36%, 24.00% 48.76%, 25.00% 50.00%, 26.00% 48.76%, 27.00% 45.36%, 28.00% 40.63%, 29.00% 35.74%, 30.00% 31.91%, 31.00% 30.08%, 32.00% 30.70%, 33.00% 33.63%, 34.00% 38.13%, 35.00% 43.09%, 36.00% 47.29%, 37.00% 49.69%, 38.00% 49.69%, 39.00% 47.29%, 40.00% 43.09%, 41.00% 38.13%, 42.00% 33.63%, 43.00% 30.70%, 44.00% 30.08%, 45.00% 31.91%, 46.00% 35.74%, 47.00% 40.63%, 48.00% 45.36%, 49.00% 48.76%, 50.00% 50.00%, 51.00% 48.76%, 52.00% 45.36%, 53.00% 40.63%, 54.00% 35.74%, 55.00% 31.91%, 56.00% 30.08%, 57.00% 30.70%, 58.00% 33.63%, 59.00% 38.13%, 60.00% 43.09%, 61.00% 47.29%, 62.00% 49.69%, 63.00% 49.69%, 64.00% 47.29%, 65.00% 43.09%, 66.00% 38.13%, 67.00% 33.63%, 68.00% 30.70%, 69.00% 30.08%, 70.00% 31.91%, 71.00% 35.74%, 72.00% 40.63%, 73.00% 45.36%, 74.00% 48.76%, 75.00% 50.00%, 76.00% 48.76%, 77.00% 45.36%, 78.00% 40.63%, 79.00% 35.74%, 80.00% 31.91%, 81.00% 30.08%, 82.00% 30.70%, 83.00% 33.63%, 84.00% 38.13%, 85.00% 43.09%, 86.00% 47.29%, 87.00% 49.69%, 88.00% 49.69%, 89.00% 47.29%, 90.00% 43.09%, 91.00% 38.13%, 92.00% 33.63%, 93.00% 30.70%, 94.00% 30.08%, 95.00% 31.91%, 96.00% 35.74%, 97.00% 40.63%, 98.00% 45.36%, 99.00% 48.76%, 100.00% 50.00%);
}

.footer_text {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    z-index: 2;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--white);
}

.footer_div {
    height: 50px;
    border: none;
    border-left: 4px dashed var(--white);
    opacity: 0.5;
}

.footer_socials {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_social {
    background: var(--white);
    color: var(--blue);
    width: fit-content;
    font-family: 'Outfit', sans-serif;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
    /*box-shadow: inset 0 0 0 5px var(--white), inset 5px -5px 0 5px var(--blue);*/
}

.footer_social:not(:last-child) {
    margin-bottom: 2rem;
}

.footer_social:nth-child(odd) {
    animation: float_odd 5s infinite;
}

.footer_social:nth-child(even) {
    animation: float_even 7s infinite;
}