header {
    border-bottom: solid map-get($colors, accent) 1px;
    padding-top: $padding * 4 !important;
    margin-bottom: $padding * 3;

    &>.wrapper {
        display: flex;
        justify-content: space-between;
        gap: $padding;

        &>* {
            flex: 1 1 0px;
        }

        &>a {
            max-width: max-content;
            letter-spacing: 1px;
            color: map-get($colors, fg);
            text-align: left;

            transition: letter-spacing 0.2s, transform 0.2s;

            &:hover {
                letter-spacing: 5px;
                transform: scale(1);
            }
        }

        &>nav {
            display: flex;
            justify-content: space-between;
            gap: $padding;
            width: 100%;
        }
    }
}
