@use 'sass:color';

.italic {
    font-style: italic;
}

.faded {
    opacity: 0.75;

    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }
}

.shimmer {
    background-image: linear-gradient(-30deg, #fcfcc0 45%, map-get($colors, fg) 50%, #fcfcc0 55%);
    background-size: 300%;
    color: map-get($colors, fg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shimmer 12s infinite;
}

@keyframes shimmer {
    0% {background-position-x: 100%;}
    50% {background-position-x: 100%;}
    100% {background-position-x: 0%;}
}

@keyframes gay {
    0% {color: red;}
    10% {color: orange;}
    30% {color: yellow;}
    50% {color: green;}
    70% {color: blue;}
    90% {color: purple;}
    100% {color: red;}
}

a {
    color: map-get($colors, accent);
    text-decoration: none;

    background-image: linear-gradient(map-get($colors, accent), map-get($colors, accent) 45%, #2bfff4);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: transform 0.2s;

    &.itch {
        color: #ff2b59;

        background-image: linear-gradient(#ff2b59, #ff2b59 55%, #ff2bed);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            transform: rotate(-4deg);
        }
    }

    &.catalog {
        color: #ffce2b;

        background-image: linear-gradient(#ffce2b, #ffce2b 55%, #ff392b);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            transform: rotate(-4deg);
        }
    }

    &.bsky {
        color: #28b0ff;

        background-image: linear-gradient(#28b0ff, #28b0ff 55%, #7a28ff);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            transform: rotate(-4deg);
        }
    }

    &.instagram {
        color: map-get($colors, fg);
        background-image: linear-gradient(to right, #ee00de, #ffc500);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            transform: rotate(-4deg);
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}

p>a {
    text-decoration: underline;
}
