@import 'vars';
@import 'header';
@import 'footer';
@import 'text';
@import 'arcade';
@import 'gallery';

html {
    font-size: 1.1em;
}

body {
    min-height: 100vh;
    background: map-get($colors, bg);
    color: map-get($colors, fg);
    font-family: $default-font;
    margin: 0;

    $c1: #00361223;
    $c2: #0000005e;

    $opacity: 0.01;

    background:
        linear-gradient($c1, #25003627 calc(100% - 500px), $c2),
        url('/assets/images/noise2.png');

    display: flex;
    flex-flow: column;
    align-items: center;

    &>* {
        width: 100%;
        max-width: 600px;
        padding: $padding;
        box-sizing: border-box;
    }
}

.i88x31 {
    margin-top: $padding * 6;

    display: flex;
    flex-flow: column;
    gap: $padding * 2;


    & div {
        display: flex;
        flex-flow: row;
        gap: 5px;

        & img {
            image-rendering: pixelated;
        }

        & a:hover {
            transform: scale(1.1);
        }
    }
    
}
