@import 'vars';
@import 'header';
@import 'footer';
@import 'text';
@import 'arcade';
@import 'gallery';

body {
    background: map-get($colors, bg);
    color: map-get($colors, fg);
    font-family: $default-font;
    margin: 0;

    display: flex;
    flex-flow: column;
    align-items: center;

    &>* {
        width: 100%;
        max-width: 600px;
        padding: $padding;
        box-sizing: border-box;
    }
}
